<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MTGS</title>
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <div class="navbar" style="background-color:black;">
            <div class="logo"><a asp-controller="Home" asp-action="customerhome"><img src="~/images/logo-white.png" style="height: 60px; width: 80px; float: left;margin-left: 10px; " alt=""></a></div>
            <div class="nav">

                <ul>
                    @{

                        var c = Context.Session.GetString("role");

                        if ((string)c == "admin")
                        {


                            <li>
                                <a asp-area="" asp-controller="home" asp-action="adminhome"><i class="fa fa-home"></i> Home</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="articles1" asp-action="Index"><i class="fa fa-book"></i> Articles</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="reports" asp-action="Index"><i class="fa fa-fw fa-envelope"></i> Reports</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="accounts" asp-action="Index"><i class="fa fa-fw fa-user"></i> Accounts</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="comments" asp-action="Index"><i class="fa fa-comments"></i> Comments</a>
                            </li>





                        }
                        else if ((string)c == "expert")
                        {

                            <li>
                                <a asp-area="" asp-controller="home" asp-action="adminhome"><i class="fa fa-home"></i> Home</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="articles1" asp-action="Index"><i class="fa fa-book"></i> Articles</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="reports" asp-action="Index"><i class="fa fa-fw fa-envelope"></i> Reports</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="comments" asp-action="Index"><i class="fa fa-comments"></i> Comments</a>
                            </li>


                        }
                        else
                        {

                            <li>
                                <a asp-area="" asp-controller="home" asp-action="customerhome"><i class="fa fa-home"></i> Home</a>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="reports" asp-action="Create"><i class="fa fa-fw fa-envelope"></i> Contact us</a>
                            </li>
                        }
                    }





                    @{
                        if ((string)c == null)
                        {
                            <li style="float:right">

                                <a asp-area="" asp-controller="home" asp-action="login"><i class="fa fa-login"></i> Login</a>
                            </li>

                        }
                        else
                        {
                            <li style="float:right">
                                <a onclick="openForm()"><i class="fa fa-user-circle-o"></i> Profile</a>
                                <div class="form-popup" id="myForm">
                                    <form class="form-container">
                                        <h1>Profile</h1>
                                        @{
                                            var b = (string)Context.Session.GetString("name");
                                        }
                                        <h4>User Name: @b</h4>

                                        <br>
                                        @{
                                            var a = (string)Context.Session.GetString("email");
                                        }
                                        <h4>E-mail: @a </h4>


                                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                    </form>
                                </div>
                                <a asp-area="" asp-controller="home" asp-action="logout"><i class="fa fa-close"></i> Logout</a>

                            </li>
                        }

                    }


                    <li style="float:right">

                        <form asp-action="Search" asp-controller="articles1">
                            <div class="form-group">

                                <input name="s" class="form-control" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>

                        </form>

                    </li>


                </ul>
            </div>
        </div>

    </header>
    <div class="Content">

        @RenderBody()


    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
