<h1>Admin Home</h1>

<div class="controller-cards">
    <div class="card">
        <h2>Articles</h2>
        <a href="/articles/Index" class="card-link">Go to Articles</a>
    </div>
    <div class="card">
        <h2>Comments</h2>
        <a href="/comments/Index" class="card-link">Go to Comments</a>
    </div>
    <div class="card">
        <h2>Users</h2>
        <a href="/users/Index" class="card-link">Go to Users</a>
    </div>
</div>

<style>
    .controller-cards {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .card {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        flex-basis: 30%;
    }

        .card h2 {
            margin-bottom: 10px;
        }

    .card-link {
        display: block;
        text-align: center;
        padding: 10px;
        background-color: #2f80ed;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .card-link:hover {
            background-color: #276fd3;
        }
</style>