@page
@model YourNamespace.YourModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Byte</title>
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body>

    <!-- Navigation Bar -->
    <header>
        <a href="#" class="logo">Space Byte</a>
        <div class="menuToggle"></div>
    </header>
    <ul class="navigation">
        <li><a href="#" onclick="toggleMenu();">Home</a></li>
        <li><a href="#" onclick="toggleMenu();">News</a></li>
        <li><a href="#" onclick="toggleMenu();">Opinion</a></li>
        <li><a href="#" onclick="toggleMenu();">Military</a></li>
        <li><a href="#" onclick="toggleMenu();">Launch</a></li>
        <li><a href="#" onclick="toggleMenu();">Commercial</a></li>
        <li><a href="#" onclick="toggleMenu();">Sponsored</a></li>
        <li><a href="#" onclick="toggleMenu();">Advertise</a></li>
    </ul>

    <section class="post" id="post">
        <div class="title">
            <h2>Latest Post</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque autem totam dolorum fuga quasi deleniti voluptatibus nam. Atque accusantium ipsa, dignissimos, mollitia dolores temporibus illo maxime rerum eligendi impedit ad!
            </p>
        </div>
        <div class="grid-container">
            @for (int i = 1; i <= 4; i++)
            {
                <div class="grid-item">
                    <img src="@(i).jpg" alt="Image @(i)">
                    <div class="overlay">
                        <h3 class="heading">
                            Why is space dark?
                        </h3>
                        <h5 class="desc" id="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, asperiores atque, repudiandae quia iure impedit officia maxime labore maiores aliquid animi ut? Magnam molestias, amet minima temporibus corporis distinctio ratione.
                        </h5>
                        <a href="https://en.wikipedia.org/wiki/Paratha" target="_blank" class="btn" id="btn">Read More</a>
                    </div>
                </div>
            }
        </div>
        <div class="title">
            <a href="index.html" target="_blank" class="btn mgt60">Show all</a>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="row">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Opinion</a></li>
                    <li><a href="#">Military</a></li>
                    <li><a href="#">Launch</a></li>
                    <li><a href="#">Commercial</a></li>
                    <li><a href="#">Sponsored</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </div>
            <div class="row">
                Space Byte © @DateTime.Now.Year - All rights reserved
            </div>
        </div>
    </footer>
</body>

<script>
    const menuToggle = document.querySelector('.menuToggle');
    const navigation = document.querySelector('.navigation');
    menuToggle.onclick = function () {
        menuToggle.classList.toggle('active');
        navigation.classList.toggle('active');
    }

    window.addEventListener('scroll', function () {
        const header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0);
    })

    function toggleMenu() {
        menuToggle.classList.remove('active');
        navigation.classList.remove('active');
    }

    let overlays = document.querySelectorAll('.overlay');

    overlays.forEach((overlay) => {
        let h5 = overlay.querySelector('.desc');
        let h3 = overlay.querySelector('.heading');
        let button = overlay.querySelector('.btn');

        overlay.addEventListener('mouseover', () => handleHover(h3, h5, button));
        overlay.addEventListener('mouseleave', () => handleMouseLeave(h3, h5, button));
    });

    function handleHover(h3, h5, button) {
        h3.style.top = '0px';
        h3.style.transition = 'all 0.25s ease-in-out';
        h5.style.visibility = 'visible';
        h5.style.opacity = '1';
        button.style.visibility = 'visible';
        button.style.opacity = '1';
        h5.style.fontSize = '0.8em';
        h5.style.transition = 'all 0.5s ease-in-out';
        button.style.transition = 'all 0.5s ease-in-out';
        h5.style.bottom = '0';
        button.style.bottom = '0';
    }

    function handleMouseLeave(h3, h5, button) {
        h3.style.top = '100px';
        h3.style.transition = 'all 0.75s ease-in-out';
        h5.style.visibility = 'hidden';
        h5.style.opacity = '0';
        button.style.visibility = 'hidden';
        button.style.opacity = '0';
        h5.style.transition = 'all 0.5s ease-in-out';
        button.style.transition = 'all 0.5s ease-in-out';
        h5.style.bottom = '-100%';
        button.style.bottom = '-100%';
    }
</script>
</html>
