@{
    Layout = null;
    ViewData["Title"] = "View";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header text-center">Login</h5>
                    <div class="card-body">
                        <form asp-action="Login">
                            <div class="form-group">
                                <label for="na">User Name</label>
                                <input id="na" name="na" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="pa">User Password</label>
                                <input type="password" id="pa" name="pa" class="form-control" />
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" id="auto" name="auto" class="form-check-input" />
                                <label for="auto" class="form-check-label">Auto Login</label>
                            </div>
                            <p style="color: red">@ViewData["message"]</p>
                            <div class="text-center">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        Don't have an account? <a asp-controller="Users" asp-action="register">Create account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>